@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #121212;
    --foreground: #FFFFFF;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}